.card {
    margin-top: -47%;
    height: 317px;
    width: 1200px;
    margin-left: 30vh;
    position: relative;
}


.container {
    margin-right: 100%;
    position: relative;
}

.card-title {
    margin-bottom: 40px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-weight: bold;
}

.card-body {
 font-size: 20px;
}



.fiveDay {
    margin-left: 100px;
}


.btn-group {
    margin-left: 40%;
    padding: 10px;
    height: 300px;
    width: 1100px;
    justify-content: center;
}

.jumbotron {
    background-color: rgb(77, 75, 75)
    
}

.h1 {
    /* align-content: center;
    text-justify: center; */
    text-align: center;
}
